footer {
  background-color: #030303;
  height: 300px;

  width: 1920px;
  margin: 0 auto;
}

.welcome-text {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
}

.footer-wraper {
  width: 1440px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation {
  display: flex;
  width: 366px;
  justify-content: space-between;
  flex-direction: row;
}

.navigation a {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}


.navigation a:hover {
    color: #9d8665;
}
.nav1 {
  display: flex;
  flex-direction: column;
}

.header-box {
  gap: 145px;
  margin-top: 75px;
  display: flex;
}

.frame-social {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 50%;
}

.sicial {
  display: flex;
  flex-direction: row;
  width: 336px;
  justify-content: space-evenly;
  margin-top: 145px;
}
